AccountingApp.Console/Connected Services/ConsoleWebService/AccountingApp.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccountingApp.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccountingApp.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="config">
    <xs:sequence>
      <xs:element minOccurs="0" name="config_id" type="xs:int" />
      <xs:element minOccurs="0" name="form_variant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="my_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="my_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="my_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="my_nip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="path_for_jpk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="purpose_of_submission" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="system_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="config" nillable="true" type="tns:config" />
  <xs:complexType name="invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount_net" type="xs:decimal" />
      <xs:element minOccurs="0" name="amount_vat" type="xs:decimal" />
      <xs:element minOccurs="0" name="contractor_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractor_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractor_nip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_added" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_of_issue" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_of_sale" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="income" type="xs:boolean" />
      <xs:element minOccurs="0" name="invoice_id" type="xs:int" />
      <xs:element minOccurs="0" name="invoice_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vat_rate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="invoice" nillable="true" type="tns:invoice" />
  <xs:complexType name="ArrayOfinvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="invoice" nillable="true" type="tns:invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfinvoice" nillable="true" type="tns:ArrayOfinvoice" />
</xs:schema>