AccountingApp.Console/Connected Services/ConsoleWebService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AccountingApp.Model" />
  <xs:element name="SaveConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccountingApp.Model" minOccurs="0" name="config" nillable="true" type="q1:config" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConfigResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccountingApp.Model" minOccurs="0" name="GetConfigResult" nillable="true" type="q2:config" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccountingApp.Model" minOccurs="0" name="invoice" nillable="true" type="q3:invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvoiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccountingApp.Model" minOccurs="0" name="invoice" nillable="true" type="q4:invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AccountingApp.Model" minOccurs="0" name="GetInvoiceDataResult" nillable="true" type="q5:ArrayOfinvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchListForJpk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchListForJpkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AccountingApp.Model" minOccurs="0" name="FetchListForJpkResult" nillable="true" type="q6:ArrayOfinvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>